html { margin: 0; padding: 0; }

body{ 
    margin: 0; padding: 0; 
    background-image: url('/img/woodbg.jpg'); 
    background-size: contain;
    color: rgb(66, 71,64);
    letter-spacing: .125vh;
}

.printLg { 
    /*border: 1px solid black;*/
    margin: auto; padding: 5% 0;
    font-family: 'Oswald', sans-serif;
    font-size: 275%;
    display: inline-flex;
}

.printMd {
    /*border: 1px solid red;*/
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}
.printSm {
    /*border: 1px solid gold;*/
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 112.5%;
}
.cursiveLg {
    /*border: 1px solid limegreen;*/
    margin: 0; padding: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 275%;
}
.cursiveSm {
    /*border: 1px solid blue;*/
    margin: 0 2.5%; padding: 0;
    font-family: 'Great Vibes', cursive;
    font-size: 150%;
}

.tabletMenu { 
    /*border: 1px solid black;*/
    display: none;
}

.mobileMenu {
    /*border: 1px solid black;*/
    display: block;
    margin: 0; padding: 2.5% 0;
    background-color: rgba(0,0,0,.5);
    min-height: 30px;
}

.menuText {
    /*border: 1px solid red;*/
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    display: inline-flex;
}

i.fa {
    /*border: 1px solid gold;*/
    margin: 0 2.5%; padding: 0;
    background-color: rgba(0,0,0,0); color: rgb(255,255,240);
    font-size: 200%;
    float: left;
}
i.fa:hover { 
    /*border: 1px solid limegreen;*/
    color: rgba(255,255,240,.5);
}

.jumbotron {
    /*border: 1px solid black;*/
    margin: 0; padding: 0;
    text-align: center;
    min-width: 100%;
}
.titleLine { 
    /*border: 1px solid red;*/
    margin: 1.25% 7.5%; padding: .625% 0;
    background-color: rgb(66,71,64);
}

.event {
    /*border: 1px solid black;*/
    margin: 2.5%; padding: 20% 0;
    background-color: rgba(255,255,240,.9);
    text-align: center;
    -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
}

.eventImg {
    /*border: 1px solid red;*/
    margin: 0 auto; padding: 25% 0;
    background-size: contain;
    width: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 5px 2.5px rgba(255,255,240,1);
    -moz-box-shadow: inset 0px 0px 5px 2.5px rgba(255,255,240,1);
    box-shadow: inset 0px 0px 5px 2.5px rgba(255,255,240,1);
}

.event a {
    /*border: 1px solid gold;*/
    color: rgba(66,71,64,.5);
    text-decoration: none;
}
.event a:hover {
    color: rgb(66, 71,64);
    text-decoration: none;
}

.regLinkBlock img {
    /*border: 1px solid green;*/
    margin: 2.5% 2.5%; padding: 10% 0 0 0;
    display: inline-block;
    background-size: contain;
    min-width: 200px;
    max-width: 25%;
}
.regLinkBlock img:hover { opacity: .5; }

.textLine { 
    /*border: 1px solid blue;*/
    margin: 12.5% 10%; padding: .125% 0;
    background-color: rgba(66,71,64,.5);
}
.eventText {
    /*border: 1px solid black;*/
    margin: 0 10%; padding: 0;
    color: rgba(66,71,64,.75);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.dropdown { 
    /*border: 1px solid black;*/
    position: relative; 
    display: inline-block;
}

.dropdown-content {
    /*border: 1px solid red;*/
    display: none;
    position: absolute;
    background-color: rgb(255,255,240);
    width: 95%; max-width: 760px;
    -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    /*border: 1px solid gold;*/
    border-bottom: 1px solid rgb(66,71,64);
    margin: 0 5%; padding: 5% 0;
    text-align: center;
    color: rgb(66,71,64);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { color: rgba(66,71,64,.25); }

.show { display: block; }

.footer {
    /*border: 1px solid black;*/
    background-color:white;
    margin: 0; padding: 10% 0;
    text-align: center;
}
.citeTitle {
    /*border: 1px solid red;*/
    margin: 0; padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: rgba(66, 71,64,.5);
    font-size: 75%;
    text-decoration: none;
}
.citeText {
    /*border: 1px solid gold;*/
    margin: 0; padding: 0 0 5% 0;
    font-family: 'Montserrat', sans-serif;
    color: rgba(66, 71,64,.25);
    font-size: 50%;
}







/* MOBILE */
@media screen and  (max-width: 684px) {}
/* MOBILE */







/* TABLET */
@media screen and  (min-width: 685px) {

    .titleLine { 
        /*border: 1px solid red;*/
        margin: 1.25% 7.5%; padding: .25% 0;
        background-color: rgb(66,71,64);
    }

    .tabletMenu {
        /*border: 1px solid gold;*/
        display: inline-flex;
        min-height: 30px;
        width: 100%;
        background-color: rgba(255,255,240,.9);
        -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    }

    .textWrap {
        border: 2.5px solid rgba(66,71,64,.5);
        margin: 1.25%; padding: 2.5% 1.25%;
        text-align: center;
        width: 100%;
    }

    .textWrap:hover { border: 2.5px solid rgb(66,71,64); }

    .mobileMenu { display: none; }

    .menuText {
        /*border: 1px solid blue;*/
        margin: 0; padding: 0;
        color: rgba(66,71,64,.5);
        text-decoration: none;
        font-size: 100%;
    }

    .menuText:hover { color: rgb(66,71,64); }

}
/* TABLET */







/* DESKTOP */
/*@media screen and  (min-width: 1000px) {

    body { max-width: 1000px; }

}*/
/* DESKTOP */