/* BASE */
html { 
    margin: 0; padding: 0; 
    letter-spacing: .25vh;
    color: rgb(66, 71,64);
    }

body { 
    margin: 0; padding: 0; 
    background-image: url('/woodbg.jpg');
    background-size: contain;
    min-height: 100%;
    min-width: 100vw;
    }
.printTitle {
    margin: 0; padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 7.5vh;
    display: inline-flex;
}
.printSubTitle {
    margin: 2.5vh 0; padding: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 5vh;
}
.cursiveTitle {
    margin:0; padding:0;
    font-family: 'Alex Brush', cursive;
    font-size: 7.5vh;
}
.cursiveSubTitle {
    margin:0; padding:0;
    font-family: 'Alex Brush', cursive;
    font-size: 5vh;
}
.printText {
    margin:0; padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
}
.printSubText {
    margin:0; padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 3.25vh;
}
/* BASE */



/* HEADER MENU*/
.menu {
    margin: 0; padding: 0;
    background-color: rgba(0,0,0,.5);
    font-size: 50vh;
    min-height: 10vh;
    min-width: 100%;
}

i.fa {
    background-color: rgba(255,255,240, .5);
    font-size: 5vh;
    margin: 1.25vh; padding: 1.25vh;
    float: left;
}
i.fa:hover { background-color: rgba(0,0,0,.00); }
/* HEADER MENU*/


/* HERO */
.jumbotron {
    margin: 0; padding: 7.5vh 0 0 0;
    text-align: center;
   min-width: 100%;
}
.line { 
    margin: 1.25vh 5vw; padding: 0;
    background-color: rgb(66,71,64);
    min-height:10px;
}
/* HERO */



/* EVENT */
.event {
    background-color: rgb(255, 255, 240);
    margin: 1.25vh; padding: 10vh 0;
    text-align: center;
    -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
}

.eventImg {
    margin: 0; padding: 0;
    background-image: url('/house.jpg');
    background-size: contain;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

.event a {
    color: rgba(66,71,64,.5);
    text-decoration: none;
}
.event a:hover {
    color: rgb(66, 71,64);
    text-decoration: none;
}

.regLink img {
    border: 5px solid rgba(0,0,0,0);
    border-radius: 1.25vh;
    margin: 3.75vh 2.5vh; padding: 0;
    display: inline-flex;
    background-size: contain;
    max-height: 200px;
    max-width: 200px;
}

.regLink img:hover { border: 5px solid rgb(212,175,55); background-color: rgba(212,175,55.25); }
/* EVENT */



/* DROPDOWN */
.dropdown { position: relative; display: inline-block; }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255,255,240);
    width: 92.5vw;
    -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2.5px 2.5px 0px rgba(0,0,0,0.5);
}

.dropdown-content a {
    border-bottom: 1px solid rgb(66,71,64);
    margin: 0 2.5vh; padding: 2.5vh 0;
    text-align: center;
    color: rgb(66,71,64);
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover { background-color: rgba(66,71,64,.5); color: rgb(255,255,240); }

.show { display:block; }
/* DROPDOWN */