/*

COLORS
* Ivory
* Blush
* Gold

PATTERNS
* Floral

*/

html { margin:0; padding:0; }

body { 
    margin:5vh 12.5vh; padding:0; 
    border: 1px solid black;
    height: 90vh;
}

h1{
    margin:0; padding:0; 
    color: green;
    font-size: 5vh;
}

.menu { 
    border-bottom: 1px solid red;
    margin:0; padding:0;
    height: 5.5vh;
    width: 100%;
}